.content {
	width: 100%;
	padding: 0 88upx;
	box-sizing: border-box;
	font-size: 32upx;
}
.register-box {
	width: 100%;
	height: 108upx;
	border-bottom: 1upx solid #f0f0f0;
	white-space: nowrap;
}
.register-box-txt {
	padding-left: 40upx;
}
.register-item {
	/* color: #999999; */
	height: 88upx;
	width: 100%;
	border-bottom: 1upx solid #f0f0f0;
}

.code {
	justify-content: space-between;
}

.code .get-code {
	color: #37a2f2;
}
.code .time {
	color: #999;
}