.flex-column{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.code-wrap {
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
}

.code-content {
  background: #fff;
}