/* .content {
  background: #f0f0f0;
  min-height: 100vh;
  padding: 40upx;
  font-size: 30upx;
  padding-bottom: 200upx;
}
.address-box {
  background: #fff;
  padding: 20upx 40upx;
  border-radius: 16upx;
  margin-bottom: 36upx;
}

.address-box .box-title {
  display: flex;
  padding: 20upx 0;
}

.box-title image {
  width: 36upx;
  height: 36upx;
  margin-right: 20upx;
}

.box-title .del-btn {
  color: #cdcdcd;
}
.box-title .decs {
  flex: 1;
}

.address-box .box-content {

}

.box-content .content-item{
  display: flex;
  align-items: center;
  border-top: 1upx #f0f0f0 solid;
  padding: 20upx 0;
}

.box-content .content-item text {
  margin-right: 20upx;
}

.item-name {

}

.item-phone {

}

.item-address {
  
}

.address-gray-btn {
  height: 88upx;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #37a2f2;
  font-size: 32upx;
  border-radius: 10upx;
  cursor: pointer;
}

.footer-btn {
  position: fixed;
  bottom: 0;
  padding: 30upx 0;
  background: #37a2f2;
  color: #fff;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
} */

page {
	background-color: #f0f0f0;
	width: 100%;
	padding: 36upx;
	box-sizing: border-box;
}
.project-wrap {
    background-color: white;
	border-radius: 16upx;
}
.addr-wrap {
	border-top-left-radius: 30upx;
	border-top-right-radius: 30upx;
    height: 88upx;
    display: flex;
    align-items: center;
    padding: 0 36upx;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    position: relative;
    font-size: 32upx;
}
.addr-wrap .iconred {
    background: url(/static/yun/imgs1.4/icon_yun_999_2.png) no-repeat center;
    background-size: 100% 100%;
}
.addr-wrap .icongray {
    background: url(/static/yun/imgs1.4/icon_yun_999.png) no-repeat center;
    background-size: 100% 100%;
}

.addr-wrap .iconbox {
    display: block;
    width: 36upx;
    height: 36upx;
    margin-right: 20upx;
}
.delete-item {
    color: #999999;
    width: 100upx;
    height: 88upx;
    line-height: 88upx;
    cursor: pointer;
    text-align: right;
    flex: 1;
}
.inputBox {
    justify-content: space-between;
    height: 88upx;
    align-items: center;
}
.inputBox {
    width: 100%;
    position: relative;
    font-size: 32upx;
    padding: 0 36upx;
    box-sizing: border-box;
    display: flex;
    line-height: 32upx;
    cursor: pointer;
    background-color: white;
}
.wd-box {
    border-bottom: 1upx solid #f0f0f0;
}
.inputBox .i-text {
    width: calc(100% - 150upx);
    border: none;
    height: 62upx;
    margin-top: 2upx;
}
.text-content {
    width: calc(100% - 150upx);
    height: 200upx;
    font-size: 32upx;
    color: #333;
    border: none;
}
._addr_box {
    width: 100%;
    position: relative;
    font-size: 32upx;
    padding: 24upx 0 24upx 36upx;
    box-sizing: border-box;
    display: flex;
    line-height: 32upx;
    background-color: white;
    margin-bottom: 36upx;
    justify-content: space-between;
	border-bottom-left-radius: 30upx;
	border-bottom-right-radius: 30upx;
}
.add-addr {
    height: 88upx;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #37a2f2;
    font-size: 32upx;
    background-color: white;
    margin-bottom: 188upx;
	border-radius: 16upx;
}
.btnSave {
    width: 100%;
    position: fixed;
    bottom: 0;
	left: 0;
    height: 98upx;
    line-height: 98upx;
    text-align: center;
    color: white;
    background-color: #37a2f2;
    font-size: 32upx;
    cursor: pointer;
    border: none;
}