.content {
  background: #f0f0f0;
  min-height: 100vh;
  padding: 40upx;
}
.address-box {
  background: #fff;
}

.address-box .box-title {

}

.box-title img {

}

.address-box .box-content {

}

.box-content .content-item{

}

.item-name {

}

.item-phone {

}

.item-address {
  
}